# Dependencies
node_modules/

# Build
dist/
build/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# AWS SAM
.aws-sam/
samconfig.toml

# Python
__pycache__/
*.pyc

# Solución docente (no subir)
solucion/
